@image-height: 100vh;
@animation-time: 1s;
@transition-fn: cubic-bezier(0.215, 0.61, 0.355, 1); 


html, body {
  font-family: 'Lato', sans-serif;
}

.body {
  @media (max-width: 800px) {
    font-size: 2em;
  }
}

a {
  cursor: pointer;
}

.slideshow {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .slide-wrapper {
    height: 100%;
    width: 100%;

    img {
      height: 100%;
      width: 100%;
    }

    h1, h2 {
      position: absolute;
    }

    h1 {
      bottom: 200px;
      left: 40px;
    }

    h2 {
      bottom: 100px;
      left: 40px;
    }

    &.slide {
      animation: slide @animation-time @transition-fn;
      animation-fill-mode: forwards;
    }

    &.slide-down {
      animation: slide-down @animation-time @transition-fn;
      animation-fill-mode: forwards;
    }
  }
}

.nav {
  position: absolute;
  right: 0;
  top: 40vh;

  width: 30px;
  min-height: 100px;

  div {
    user-select: none;
    cursor: pointer;
  }

  .prev,.next {
    margin-left: 5px;
  }

  .circle {
    display: block;
    width: 20px;
    height: 20px;

    circle {
      transform: matrix(0, -1, -1, 0, 0, 0);
    }
  }

  .inner-circle {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;

    transition: top @animation-time @transition-fn;
  }
}

@keyframes slide {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-@image-height);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-@image-height)
  }

  100% {
    transform: translateY(0px)
  }
}

